.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    position: absolute; 
    top: 0;
    left: 0;
    display: block;
  }

  .cursor__inner {
    fill: none;
    stroke: #000; 
    stroke-width: 1.2px;
  }
}