
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NeueMontreal Regular';
    src: url("/fonts/NeueMontreal-Regular.otfsf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "NeueMontreal Regular";
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}