
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background: rgba(255, 255, 255, 0.9); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  .navLinks {
    display: flex;
    gap: 2rem;
    transition: left 0.3s ease;

    border-image: 8px;
    border-radius: 50px;
    padding-top: 15px; padding-bottom: 15px;
    padding-right: 25px; padding-left: 25px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .navLinks a {
    color: #f8f8f8;
    text-decoration: none;
    position: relative;
    padding: 0.5rem 0;
  }
  
  .navLinks a:active {
    background-color: #f59330;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding-top: 5px; padding-bottom: 5px;
    padding-right: 15px; padding-left: 15px;
  }

  .navLinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #333;
    transition: width 0.3s ease;
  }

  .navLinks a:hover::after {
    width: 100%;
  } 
  
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: auto;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: 0.3s;
  }
  
  @media screen and (max-width: 768px) {
    .navLinks {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 200px;
      background: #0a0a0a;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    }
    
    .navLinks.active {
      left: 0;
    }

    .hamburger {
      display: flex;
    }
  }
  