.wrapper {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.text {
  font: inherit;
  line-height: 1.1;
}

.box {
  color: currentColor;
  width: 100%;
  height: 0.65em;
  position: relative;
  display: block;
  
}

.svg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
}